<!DOCTYPE html>
<html>
    <head>
    <title>About |  inphormed</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        {% extends "layout.html" %}
        {% block content %}
            <div class="about">
                <h1 style="text-indent: 40px">About inphormed</h1>
                <p style="text-indent: 40px">This app identifies privacy issues in Android app user
                policies</p>
                <img src="/static/images/android_robot.svg" alt="Mountain">
            </div>
        {% endblock %}
    </body>
</html>
