<!DOCTYPE html>
<html>
    <head>
        <title>inphormed</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">inphormed</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('result') }}">Results</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
      <div class="container">
          {% block content %}
          {% endblock %}
      </div>
  </body>
</html>
